:root {
    --darkbluee: rgba(42, 43, 106, 1);
    --lightblue: rgba(101, 204, 232, 1);
    --white: rgba(255, 255, 255, 1);
    --oranye: 0px 0.5008620619773865px 44.70193862915039px 0px
      rgba(255, 146, 47, 0.08), 0px 4px 357px 0px rgba(255, 146, 47, 0.15);
  }
  